<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="actor1" class="com.stackroute.domain.Actor">

        <constructor-arg name="name" value="Akshay kumar" type="java.lang.String"/>
        <constructor-arg name="gender" value="Male" type="java.lang.String"/>
        <constructor-arg name="age" value="53" type="int"></constructor-arg>
    </bean>

    <bean id="movie-1" class="com.stackroute.domain.Movie">
        <property name="actor" ref="actor1"></property>
    </bean>

    <bean id="actor2" class="com.stackroute.domain.Actor">

        <constructor-arg name="name" value="Salman Khan" type="java.lang.String"/>
        <constructor-arg name="gender" value="Male" type="java.lang.String"/>
        <constructor-arg name="age" value="58" type="int"></constructor-arg>
    </bean>
    <bean id="movie-2" class="com.stackroute.domain.Movie">
    <property name="actor" ref="actor2"></property>
    </bean>

    <bean id="actor3" class="com.stackroute.domain.Actor">

        <constructor-arg name="name" value="Anil Kapoor" type="java.lang.String"/>
        <constructor-arg name="gender" value="Male" type="java.lang.String"/>
        <constructor-arg name="age" value="63" type="int"></constructor-arg>
    </bean>
    <bean id="movie-3" class="com.stackroute.domain.Movie">
        <property name="actor" ref="actor3"></property>
    </bean>

</beans>

